body {
  background-color: #0f0b1c;
  margin: 16px;
}

.transparentBackground {
  background-color: transparent;
}

.header {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 70px;
  font-weight: bold;
  font-family: Bungee;
  color: white;
}

.buttonStyle {
  background-color: purple;
  border-color: purple;
  color: white;
}
